<%- include('header') %>
<link href="/css/film.css" rel="stylesheet">
</head>

<body>

<div class="container toprow">
    <div class="row">
        <div class="col-md-11 col-11"></div>
        <div class="col-md-1 col-1">
            <a href="/logout" class="btn btn-info btn-lg top" role="button"
               aria-pressed="true">Logout</a>
        </div>
    </div>

</div>

<!--Film (Title, Year, Director, Category, Description, Length, Comment, Rating, Watched, UserId)-->
<div class="container text-center">
    <h1><%= film.title%></h1>
    <b>Release date:</b> <%= film.year %>
    <b>Category:</b> <%= film._category.name %>
    <br>
    <br>
    <b>Director:</b>
    <p><%= film.director %></p>

    <b>Description:</b>
    <p><%= film.description %></p>

    <b class="d-block">Length:</b>
    <%= film.length %> min

    <b class="d-block">Comment:</b>

    <p><%= film.comment %></p>

    <b class="d-block">Rating:</b>
    <% if(film.rating !== null) {%>
        <%= film.rating %>/5
    <%} else {%>
        Not yet rated.
    <%}%>

    <br>
    <br>
    <div class="btn-group-vertical">
        <a class="btn btn-lg btn-info" href="/film/<%= film._category.id%>/<%= film.id %>/edit" role="button" style="margin-bottom: 10%">Modify</a>
        <a class="btn btn-lg btn-info" href="/films/<%= film._category.id%>" role="button">Back</a>
    </div>


</div>

<%- include('footer') %>